body {
    background-color: black;
    color: white;
    height: 100vh;
    border: 2px solid white;
}

#header {
    margin: 0.5rem;                         /* consider getting rid of this */
    display: flex;
    justify-content: space-between;
    min-height: 40px;
    border-bottom: 2px solid grey;
    font-size: 2rem;
}

#header-start {
    display: flex;
}

#header-end {
    display: flex;
}

#game {
    width: 500px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.tile {
    height: 50px;
    width: 50px;
    border: 2px solid grey;
}

#board {
    display: grid;
    grid-template-columns: repeat(var(--num-o-letters), auto);
    grid-template-rows: repeat(6,auto);
    grid-gap: 4px;
}

#board-container {
    display: flex;
    justify-content: center;
    /* border: 2px solid green; */
}

#keyboard {
    margin: 10px
}

.keyboard-row {
    display: flex;
    width: 100%;
    gap: 2px;
}

.keyboard-btn {
    height: 55px;
    flex: 1;
    border-radius: 6px;
    background-color: grey;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.5rem;  
    color: inherit;
}

:root {
    --num-o-letters: 5;
}